.notification {
  position: fixed;
  z-index: var(--zindex-notification);
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  max-height: calc(100vh - 2 * var(--spacing-small) - var(--navbar-height));

  &.topRight {
    top: calc(var(--navbar-height) - var(--spacing-small));
    right: var(--spacing-small);
  }
  &.topLeft {
    top: calc(var(--navbar-height) - var(--spacing-small));
    left: var(--spacing-small);
  }
  &.bottomRight {
    bottom: var(--spacing-small);
    right: var(--spacing-small);
  }
  &.bottomLeft {
    bottom: var(--spacing-small);
    left: var(--spacing-small);
  }
}
