.filters {
  border: 1px solid var(--gold);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tiny);
  padding: var(--spacing-tiny);
  padding-bottom: 0;
  width: 100%;

  .filters__group {
    align-items: center;
    display: flex;
    gap: var(--spacing-tiny);
    width: 100%;

    .filters__label {
      color: var(--gold-dark);
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-simple);
      width: 40%;
    }

    .filters__select {
      width: 60%;
    }

    .filters__submit {
      width: 100%;
    }
  }
}
