.transaction {
  align-items: center;
  box-shadow: var(--subtle-drop-shadow);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small) var(--spacing-base);
  width: 100%;

  .transaction__type {
    align-items: center;
    background-color: var(--gold-lightest);
    border-radius: var(--full-radius);
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
  }

  .transaction__infos {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px - var(--spacing-small));

    .transaction__header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--spacing-tiny);
      width: 100%;

      .transaction__title {
        color: var(--gold-darker);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-md);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 24px);
      }
    }

    .transaction__main {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .transaction__value {
        color: var(--gold-darkest);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-simple);
      }

      .transaction__date {
        @extend .transaction__value;
        color: var(--gold-darker);
      }
    }
  }

  &:nth-of-type(odd) {
    background-color: var(--gold-light);
  }

  &:nth-of-type(even) {
    background-color: var(--gold-lighter);
  }

  &:hover {
    background-color: var(--gold);
  }
}
