.balance {
  align-items: center;
  background-color: var(--gold-lightest);
  border: 2px solid var(--gold);
  border-bottom: 0;
  border-top: 0;
  box-shadow: var(--medium-drop-shadow);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  .balance__button {
    align-items: center;
    background-color: var(--gold-lightest);
    display: flex;
    height: 60px;
    justify-content: center;
    width: 100%;
    z-index: var(--zindex-header);

    .balance__label {
      color: var(--gold-darker);
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-semibold);
      line-height: var(--line-height-simple);
      margin-right: var(--spacing-tiny);
    }

    .balance__value {
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-semibold);
      line-height: var(--line-height-simple);

      &.balance__positive {
        color: var(--color-success);
      }

      &.balance__negative {
        color: var(--color-danger);
      }

      &.balance__neutral {
        color: var(--gold-darkest);
      }
    }

    .balance__icon {
      position: absolute;
      right: var(--spacing-small);
      top: var(--spacing-small);
      transform: rotate(180deg);
      transition: all ease 300ms;

      &.balance__nav__active {
        transform: rotate(0deg);
        transition: all ease 300ms;
      }
    }
  }

  .balance__nav {
    align-items: center;
    background-color: var(--gold-lightest);
    box-shadow: var(--medium-drop-shadow);
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    padding: var(--spacing-small);
    position: absolute;
    top: -100vh;
    transition: all ease-in 300ms;
    width: 100%;
    z-index: var(--zindex-tab);

    &.balance__nav__active {
      top: 60px;
      transition: all ease-out 300ms;
    }

    .balance__results {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--spacing-small);
      width: 100%;

      .results__column {
        display: flex;
        flex-direction: column;

        .results__label {
          color: var(--gold-darker);
          font-size: var(--font-size-xs);
          font-weight: var(--font-weight-semibold);
          line-height: var(--line-height-simple);
          margin-bottom: var(--spacing-nano);
        }

        .results__value {
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-semibold);
          line-height: var(--line-height-simple);
          color: var(--color-success);
        }

        .results__incomes {
          @extend .results__value;
          color: var(--color-success);
        }

        .results__expenses {
          @extend .results__value;
          color: var(--color-danger);
        }

        .results__investiments {
          @extend .results__value;
          color: var(--gold-dark);
        }
      }
    }
  }
}
