.input {
  background: var(--gold-lighter);
  border: 1px solid var(--gold-darker);
  border-radius: var(--subtle-radius);
  box-shadow: var(--subtle-inner-shadow);
  color: var(--gold-darker);
  font-size: var(--font-size-md);
  height: 36px;
  letter-spacing: 0.25px;
  line-height: var(--line-height-xs);
  padding: var(--spacing-tiny);

  &:hover,
  &:focus,
  &:active {
    border: var(--input-border-hover);
  }

  &:disabled {
    cursor: no-drop;
  }
}
