.input {
  background-color: var(--gold-lightest);
  border: 0;
  border-bottom: 2px solid var(--gold);
  color: var(--gold-darkest);
  font-size: var(--font-size-md);
  height: 36px;
  letter-spacing: 0.25px;
  line-height: var(--line-height-xs);
  padding: var(--spacing-tiny);

  &:active,
  &:focus,
  &:hover {
    border: 0;
    border-bottom: 2px solid var(--gold-darker);
    outline: 0;
    transition: border ease 300ms;
  }

  &:disabled {
    cursor: no-drop;
  }
}
