.cards {
  align-items: flex-end;
  background-color: var(--gold-lightest);
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity ease-out 300ms;
  width: 100vw;
  z-index: var(--zindex-overlay);

  .cards__header {
    align-items: center;
    background-color: var(--gold);
    box-shadow: var(--subtle-drop-shadow);
    display: flex;
    height: var(--header-height);
    left: 0;
    padding: var(--spacing-small);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--zindex-overlay);

    .cards__return {
      align-items: center;
      display: flex;
      margin: 0;
      margin-right: var(--spacing-tiny);
      padding: 0;

      .cards__returnicon {
        transform: rotate(180deg);
      }
    }

    .cards__title {
      color: white;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-semibold);
    }
  }

  .cards__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    padding: var(--spacing-base);
    width: 100%;

    .cards__card {
      border: 1px solid var(--gold-light);
      border-radius: var(--medium-radius);
      box-shadow: var(--medium-drop-shadow);
      display: flex;
      flex-direction: column;

      .cards__cardHeader {
        background-color: var(--gold-light);
        border-radius: var(--medium-radius) var(--medium-radius) 0 0;
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-small);

        .cards__cardTitle {
          align-items: center;
          display: flex;
          gap: var(--spacing-small);

          .cards__cardName {
            color: var(--gold-darker);
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-semibold);
          }

          .cards__cardType {
            color: var(--gold-darker);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-simple);
          }
        }

        .cards__cardActions {
          display: flex;
          gap: var(--spacing-small);

          button {
            padding: 0;
          }
        }
      }

      .cards__cardInfo {
        display: flex;
        justify-content: space-between;
        padding: var(--spacing-small);

        .cards__cardLabel {
          color: var(--gold-dark);
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-semibold);
          margin-right: var(--spacing-tiny);
        }

        .cards__cardValue {
          color: var(--gold-darker);
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-bold);
        }
      }
    }

    .cards__emptyContainer {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-small);
      height: 100%;

      .cards__image {
        align-self: center;
        background-image: url('./credit_card.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: flex;
        height: 40%;
        margin-bottom: var(--spacing-large);
        max-width: 720px;
        width: 100%;
      }
    }

    .cards__empty {
      color: var(--gold);
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-semibold);
      text-align: center;
    }

    .cards__addContainer {
      display: flex;
      gap: var(--spacing-nano);
      justify-content: center;

      .cards__add {
        color: var(--color-success);
        cursor: pointer;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-bold) !important;
        padding: 0;
        text-align: center;
      }
    }
  }
}
