.settings {
  align-items: flex-end;
  background-color: var(--gold-lightest);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity ease-out 300ms;
  width: 100vw;
  z-index: var(--zindex-overlay);

  .settings__header {
    align-items: center;
    background-color: var(--gold);
    box-shadow: var(--subtle-drop-shadow);
    display: flex;
    height: var(--header-height);
    left: 0;
    padding: var(--spacing-small);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--zindex-overlay);

    .settings__return {
      align-items: center;
      display: flex;
      margin: 0;
      margin-right: var(--spacing-tiny);
      padding: 0;

      .settings__returnicon {
        transform: rotate(180deg);
      }
    }

    .settings__title {
      color: white;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-semibold);
    }
  }

  .settings__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    height: calc(100% - var(--header-height));
    width: 100%;

    .settings__options {
      display: flex;
      flex-direction: column;
      width: 100%;

      .settings__option {
        border: 1px solid var(--gold-light);
        border-left: 0;
        border-right: 0;
        color: var(--gold-darker);
        cursor: pointer;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-normal);
        line-height: var(--line-height-sm);
        padding: var(--spacing-small);
        width: 100%;

        &:first-of-type {
          border-top: none;
        }
      }
    }
  }
}
