.investiments {
  align-items: flex-end;
  background-color: var(--gold-lightest);
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity ease-out 300ms;
  width: 100vw;
  z-index: var(--zindex-overlay);

  .investiments__header {
    align-items: center;
    background-color: var(--gold);
    box-shadow: var(--subtle-drop-shadow);
    display: flex;
    height: var(--header-height);
    left: 0;
    padding: var(--spacing-small);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--zindex-overlay);

    .investiments__return {
      align-items: center;
      display: flex;
      margin: 0;
      margin-right: var(--spacing-tiny);
      padding: 0;

      .investiments__returnicon {
        transform: rotate(180deg);
      }
    }

    .investiments__title {
      color: white;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-semibold);
    }
  }

  .investiments__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    height: calc(100% - var(--header-height));
    overflow-y: auto;
    padding: var(--spacing-base);
    width: 100%;
  }
}
