.details {
  align-items: center;
  background-color: var(--gold-lightest);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  opacity: 1;
  padding: var(--spacing-base);
  position: fixed;
  top: 0;
  transition: opacity ease-out 300ms;
  width: 100vw;
  z-index: var(--zindex-overlay-content);

  .details__close {
    align-items: center;
    border-radius: var(--full-radius);
    display: flex;
    justify-content: center;
    opacity: 1;
    padding: var(--spacing-tiny);
    position: fixed;
    right: var(--spacing-base);
    top: var(--spacing-base);
    transition: opacity ease-out 600ms;
    transition-delay: 300ms;
    z-index: var(--zindex-overlay-content);
  }

  .details__infos {
    display: flex;
    flex-direction: column;
    width: 300px;

    .details__infosLabel {
      align-self: center;
      color: var(--gold-darker);
      display: flex;
      font-size: var(--font-size-lg);
      font-weight: var(--font-weight-normal);
      line-height: var(--line-height-simple);
    }

    .details__infosValue {
      @extend .details__infosLabel;
      font-weight: var(--font-weight-bold);
    }

    .details__date {
      @extend .details__infosValue;
      align-self: center;
      font-size: var(--font-size-md);
      margin-bottom: var(--spacing-base);
    }

    .details__transactionType {
      align-items: center;
      align-self: center;
      background-color: white;
      border-radius: var(--full-radius);
      display: flex;
      height: 100px;
      justify-content: center;
      margin-bottom: var(--spacing-tiny);
      width: 100px;
    }

    .details__transactionTypeSelect {
      margin-bottom: var(--spacing-base);
    }

    .details__transactionTypeValue {
      @extend .details__infosValue;
      margin-bottom: var(--spacing-base);
    }

    .details__category {
      display: flex;
      gap: var(--spacing-tiny);
      margin-bottom: var(--spacing-base);

      .details__categoryLabel {
        @extend .details__infosLabel;
      }

      .details__categoryValue {
        @extend .details__infosValue;
      }
    }

    .details__subcategory {
      display: flex;
      gap: var(--spacing-tiny);
      margin-bottom: var(--spacing-base);

      .details__subcategoryLabel {
        @extend .details__infosLabel;
      }

      .details__subcategoryValue {
        @extend .details__infosValue;
      }
    }

    .details__observation {
      display: flex;
      gap: var(--spacing-tiny);
      margin-bottom: var(--spacing-base);

      .details__observationInput {
        width: 100%;
      }

      .details__observationLabel {
        @extend .details__infosLabel;
      }

      .details__observationValue {
        @extend .details__infosValue;
      }
    }

    .details__dateinput {
      margin-bottom: var(--spacing-base);
      width: 100%;

      > div {
        width: 100% !important;
      }
    }

    .details__value__inputcontainer {
      align-items: center;
      display: flex;
      gap: var(--spacing-small);
      position: relative;
      width: 100%;

      .details__value__showcontainer {
        display: flex;
        left: var(--spacing-tiny);
        position: absolute;
        top: var(--spacing-tiny);
      }

      .details__value__input {
        color: transparent;
        width: 100%;
      }

      .details__value__show {
        @extend .details__infosValue;
      }

      .details__value__cursor {
        animation: cursor 500ms ease infinite;
        height: var(--line-height-xs);
        width: 2px;
      }

      @keyframes cursor {
        0% {
          background-color: var(--gold-darkest);
        }
        100% {
          background-color: transparent;
        }
      }
    }

    .details__value {
      @extend .details__infosValue;
      font-size: 30px;
    }
  }

  .details__footer {
    display: flex;
    gap: var(--spacing-base);
    margin-bottom: var(--spacing-base);

    .details__buttonContainer {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-tiny);

      .details__button {
        align-items: center;
        background-color: var(--gold-lighter);
        border: 2px solid transparent;
        border-radius: var(--full-radius);
        display: flex;
        height: 80px;
        justify-content: center;
        padding: 0;
        width: 80px;
      }

      .details__buttonSpan {
        align-self: center;
        color: var(--gold-darker);
        display: flex;
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-simple);
      }
    }
  }
}
