.pill {
  border: 2px solid var(--gold-darker);
  border-radius: var(--medium-radius);
  box-sizing: content-box;
  display: flex;
  height: 24px;

  .pill__key {
    align-items: center;
    background: var(--gold-darker);
    color: var(--gold-lightest);
    display: flex;
    font-size: var(--font-size-sm);
    font-weight: 500;
    justify-content: center;
    line-height: var(--line-height-xs);
    margin: 0;
    padding: 0 var(--spacing-tiny);
  }

  .pill__value {
    @extend .pill__key;
    background: transparent;
    color: var(--gold-darker);
  }

  .pill__close {
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-right: var(--spacing-nano);
  }
}
