.list {
  background-color: var(--gold-lighter);
  border: 1px solid var(--gold-light);
  border-radius: var(--medium-radius);
  box-shadow: var(--medium-drop-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tiny);
  padding: var(--spacing-small);
  width: 100%;

  .list__header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .list__title {
      display: flex;
      gap: var(--spacing-tiny);

      .list__titleLabel {
        color: var(--gold-dark);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
      }

      .list__titleValue {
        color: var(--gold-darker);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
      }
    }

    .list__buttons {
      display: flex;
      gap: var(--spacing-small);

      button {
        margin: 0;
        outline: 0;
        padding: 0;
      }
    }
  }

  .list__subcategory {
    display: flex;
    background-color: var(--gold-lightest);
    border-radius: var(--subtle-radius);
    flex-direction: column;
    gap: var(--spacing-small);
    padding: var(--spacing-small);
    outline: 0;

    .list__subcategoryHeader {
      align-items: center;
      display: flex;
      gap: var(--spacing-tiny);

      .list__subcategoryTitle {
        align-items: center;
        display: flex;
        gap: var(--spacing-tiny);

        .list__subcategoryTitleLabel {
          color: var(--gold-dark);
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-semibold);
        }

        .list__subcategoryTitleValue {
          color: var(--gold-darker);
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-semibold);
        }
      }

      .list__icon {
        transition: all ease 300ms;

        &.list__opened {
          transform: rotate(180deg);
          transition: all ease 300ms;
        }
      }

      .list__label {
        color: var(--gold-darker);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .list__buttons {
        display: flex;
        gap: var(--spacing-small);

        button {
          margin: 0;
          outline: 0;
          padding: 0;
        }
      }
    }

    .list__assets {
      display: flex;
      background-color: var(--gold-lighter);
      border-radius: var(--subtle-radius);
      flex-direction: column;
      gap: var(--spacing-small);
      padding: var(--spacing-small);
      outline: 0;

      .list__asset {
        align-items: center;
        display: flex;
        gap: var(--spacing-tiny);

        .list__assetTitle {
          align-items: center;
          display: flex;
          gap: var(--spacing-tiny);

          .list__assetTitleLabel {
            color: var(--gold-dark);
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-semibold);
          }

          .list__assetTitleValue {
            color: var(--gold-darker);
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-semibold);
          }
        }
      }
    }

    .list__empty {
      color: var(--gold-dark);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-semibold);
      text-align: center;
      width: 100%;
    }
  }
  .list__empty {
    color: var(--gold-dark);
    display: block;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    width: 100%;
  }
}
