.transactionType {
  bottom: var(--spacing-base);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  padding: var(--spacing-base);
  position: fixed;
  transition: all 300ms ease-out;
  width: 100%;

  .transactionType__label {
    color: var(--gold-darker);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-sm);
    margin-bottom: var(--spacing-base);
  }

  .transactionType__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
  }

  &.transactionType__bottom {
    bottom: -100vh;
    position: fixed;
    transition: all 300ms ease-out;
  }

  &.transactionType__top {
    bottom: 100vh;
    transition: all 300ms ease-in;
  }
}

.transactionType__unselected {
  align-items: center;
  display: flex;
  gap: var(--spacing-small);
  opacity: 0;
  padding: var(--spacing-tiny) var(--spacing-base);
  transition: all 300ms ease-in 300ms;
  width: 100%;

  .transactionType__label {
    color: var(--gold-darker);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-sm);
    width: 40%;
  }

  .transactionType__select {
    width: 60%;
  }
}

.transactionType__selected {
  @extend .transactionType__unselected;
  opacity: 1;
}
