.categories {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * (44px + 24px));
  justify-content: center;
  padding: var(--spacing-base);
  position: fixed;
  top: calc(44px + 24px);
  transition: 600ms ease-out;
  width: 100%;

  .categories__label {
    color: var(--gold-darker);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: var(--spacing-small);
  }

  .categories__items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);

    .categories__button {
      align-items: center;
      display: flex;
      justify-content: center;

      :first-child {
        margin-right: var(--spacing-tiny);
      }
    }
  }

  &.hidden {
    position: fixed;
    top: 100%;
    transition: 600ms ease-out;
  }

  &.selected {
    position: fixed;
    top: -100%;
    transition: 600ms ease-in;
  }

  .categories__modal {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-small);
    width: 100%;

    span {
      margin-bottom: var(--spacing-nano);
    }

    input {
      margin-bottom: var(--spacing-small);
    }
  }
}
