.value {
  bottom: var(--spacing-base);
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  padding: var(--spacing-base);
  position: fixed;
  transition: all 300ms ease-out;
  width: 100%;

  .value__label {
    color: var(--gold-darker);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-sm);
    margin-bottom: var(--spacing-small);
  }

  .value__inputcontainer {
    align-items: center;
    display: flex;
    gap: var(--spacing-small);
    position: relative;
    width: 100%;

    .value__showcontainer {
      display: flex;
      left: var(--spacing-tiny);
      position: absolute;
      top: var(--spacing-tiny);
    }

    .value__input {
      color: transparent;
      width: calc(100% - 48px - 16px);
    }

    .value__show {
      color: var(--gold-darkest);
      font-size: var(--font-size-md);
      line-height: var(--line-height-xs);
    }

    .value__cursor {
      animation: cursor 500ms ease infinite;
      height: var(--line-height-xs);
      width: 2px;
    }

    @keyframes cursor {
      0% {
        background-color: var(--gold-darkest);
      }
      100% {
        background-color: transparent;
      }
    }

    .value__next {
      align-items: center;
      border-radius: var(--full-radius);
      display: flex;
      height: 48px;
      justify-content: center;
      padding: 0;
      width: 48px;

      svg path {
        transition: all 300ms ease-out;
      }

      &:disabled {
        svg path {
          fill: var(--gold);
          transition: all 300ms ease-out;
        }
      }
    }
  }

  &.value__bottom {
    bottom: -100vh;
    transition: all 300ms ease-out;
  }

  &.value__top {
    bottom: 100vh;
    transition: all 300ms ease-in;
  }
}

.value__unselected {
  align-items: center;
  display: flex;
  gap: var(--spacing-small);
  opacity: 0;
  padding: var(--spacing-tiny) var(--spacing-base);
  transition: all 300ms ease-in 300ms;
  width: 100%;

  .value__label {
    color: var(--gold-darker);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-sm);
    width: 40%;
  }

  .value__inputcontainer {
    position: relative;
    width: 60%;

    .value__showcontainer {
      display: flex;
      left: var(--spacing-tiny);
      position: absolute;
      top: var(--spacing-tiny);
    }

    .value__input {
      color: transparent;
      width: 100%;
    }

    .value__show {
      color: var(--gold-darkest);
      font-size: var(--font-size-md);
      line-height: var(--line-height-xs);
    }

    .value__cursor {
      animation: cursor 500ms ease infinite;
      height: var(--line-height-xs);
      width: 2px;
    }

    @keyframes cursor {
      0% {
        background-color: var(--gold-darkest);
      }
      100% {
        background-color: transparent;
      }
    }
  }
}

.value__selected {
  @extend .value__unselected;
  opacity: 1;
}
