.confirm {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * (44px + 24px));
  justify-content: center;
  margin-top: auto;
  position: fixed;
  top: calc(44px + 24px);
  transition: 600ms ease-out;
  width: calc(100% - 2 * var(--spacing-base));

  &.hidden {
    position: fixed;
    top: 100%;
    transition: 600ms ease-out;
  }
}
