.DayPicker__horizontal,
.CalendarMonth,
.CalendarMonthGrid {
  background-color: var(--gold-lightest) !important;
}
.CalendarMonth_caption,
.DayPicker_weekHeader {
  color: var(--gold-darker) !important;
}
.CalendarDay__default {
  background-color: var(--gold-lightest) !important;
  color: var(--gold-darker) !important;
  border: 1px solid var(--gold-dark) !important;
}
.CalendarDay__default:hover {
  background-color: var(--gold-lighter) !important;
}
.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
  background-color: var(--gold-lightest) !important;
  color: var(--gold-light) !important;
}
.DateInput_fangShape {
  fill: var(--gold-lightest) !important;
}
.DateInput_fangStroke {
  stroke: var(--gold) !important;
}
.DayPickerNavigation_button__default {
  background-color: var(--gold-lightest) !important;
  border: 1px solid var(--gold-dark) !important;
}
.DayPickerNavigation_button__default:hover {
  background-color: var(--gold-light) !important;
  border: 1px solid var(--gold-dark) !important;
}
.SingleDatePickerInput_clearDate_svg,
.DayPickerNavigation_svg__horizontal {
  fill: var(--gold-darkest) !important;
}
/* without theme */
.DateInput__small {
  width: 100% !important;
}
.DateInput_input {
  background-color: var(--gold-lightest) !important;
  color: var(--gold-darkest) !important;
  border-right: 1px solid var(--gold-light);
  width: 100% !important;
}
.DateInput_input__focused {
  background-color: var(--gold-lightest) !important;
  color: var(--gold-darker) !important;
  border-bottom: 2px solid transparent !important;
}
.DateInput {
  background-color: var(--gold-lightest) !important;
  color: var(--gold-darker) !important;
}
.DateInput:first-of-type {
  border-right: none !important;
}
::placeholder {
  color: var(--gold-dark) !important;
  opacity: 0.7;
}
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background-color: var(--color-success) !important;
  color: var(--gold-lightest) !important;
}
.CalendarDay__selected_span {
  background-color: var(--gold-lighter) !important;
  color: var(--gold-dark) !important;
}
.CalendarDay__hovered_span {
  background-color: var(--gold-lighter) !important;
  color: var(--gold-dark) !important;
}

/* SingleDatePicker*/
.SingleDatePicker {
  width: 60% !important;
}
.SingleDatePicker_picker {
  background-color: transparent !important;
  border: 1px solid var(--gold) !important;
}
.SingleDatePickerInput {
  background-color: var(--gold-lightest) !important;
  width: 100% !important;
}
.SingleDatePickerInput__withBorder {
  border-bottom: 2px solid var(--gold) !important;
  transition: border ease 300ms;
}
.SingleDatePickerInput__withBorder:hover {
  border-bottom: 2px solid var(--gold-darker) !important;
  transition: border ease 300ms;
}
.SingleDatePickerInput__showClearDate {
  padding: 0 30px 0 0 !important;
}
.SingleDatePickerInput_clearDate {
  margin: 0 0 0 5px !important;
  right: 0 !important;
  right: unset !important;
}
.SingleDatePickerInput_clearDate__default:focus,
.SingleDatePickerInput_clearDate__default:hover {
  background-color: transparent !important;
  border-radius: 0 !important;
}
