@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400 normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
}

:root {
  --spacing-nano: 4px;
  --spacing-tiny: 8px;
  --spacing-small: 16px;
  --spacing-base: 24px;
  --spacing-large: 48px;
  --spacing-huge: 64px;

  --font-size-xxxs: 8px;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 19px;

  --font-weight-thin: 300;
  --font-weight-normal: normal;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;

  --line-height-simple: 1;
  --line-height-xs: 1.125;
  --line-height-sm: 1.2;
  --line-height-md: 1.333;
  --line-height-lg: 1.5;
  --line-height-gold: 1.618;

  --subtle-radius: 2px;
  --medium-radius: 4px;
  --large-radius: 8px;
  --no-radius: 0;
  --full-radius: 50%;

  --zindex-tab: 1;
  --zindex-hover: 100;
  --zindex-header: 1000;
  --zindex-page: 1000;
  --zindex-dropdown: 4000;
  --zindex-modal: 5000;
  --zindex-modal-btn: 6000;
  --zindex-loader: 8000;
  --zindex-notification: 9000;
  --zindex-tooltip: 9000;

  --subtle-drop-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  --medium-drop-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
  --long-drop-shadow: 0 8px 8px rgba(0, 0, 0, 0.16);
  --distant-drop-shadow: 0 16px 16px rgba(0, 0, 0, 0.16);
  --subtle-inner-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.08);

  --color-info: #218bda;
  --color-success: #00a53a;
  --color-alert: #f2bd1b;
  --color-warning: #f27f1b;
  --color-danger: #eb3c3c;
  --color-highlight: #085d2d;

  --gold-lightest: #e7dbc9;
  --gold-lighter: #dbc9af;
  --gold-light: #cfb794;
  --gold: #c3a67a;
  --gold-dark: #887455;
  --gold-darker: #4e4230;
  --gold-darkest: #13100c;
}

[data-theme='light'] {
}

[data-theme='dark'] {
}

:root {
  --navbar-height: var(--spacing-huge);
  --app-height: calc(100vh - var(--navbar-height));
}

body {
  background-color: var(--gold-lightest);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  justify-content: center;
  height: var(--app-height);
  margin: 0;
  width: 100vw;
}

* {
  box-sizing: border-box;
  outline-color: var(--active-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background: none;
}
