.select {
  align-items: flex-start;
  background-color: var(--gold-lightest);
  border: 0;
  border-bottom: 2px solid var(--gold);
  color: var(--gold-darkest);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-md);
  justify-content: space-between;
  line-height: var(--line-height-xs);
  padding: var(--spacing-tiny);
  transition: border ease 300ms;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    border: 0;
    border-bottom: 2px solid var(--gold-darker);
    outline: 0;
    transition: border ease 300ms;
  }

  &:disabled {
    cursor: no-drop;
  }

  option {
    color: var(--gold-darkest);
  }
}
