.newCategoryFromTemplate__addButton {
  align-items: center;
  display: flex;
  gap: var(--spacing-tiny);
  justify-content: center;
  padding: var(--spacing-tiny);
  width: 100%;

  .newCategoryFromTemplate__label {
    color: var(--gold-darker);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
  }
}

.newCategoryFromTemplate__addCategory {
  align-items: center;
  display: flex;
  gap: var(--spacing-tiny);
  padding-top: var(--spacing-tiny);
  width: 100%;

  .newCategoryFromTemplate__addCategoryInput {
    background-color: var(--gold-lighter);
    width: 100%;
  }

  .newCategoryFromTemplate__addCategoryButton {
    align-items: center;
    display: flex;
  }
}
