.template {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  height: calc(100% - var(--header-height));
  overflow-y: auto;
  padding: var(--spacing-base);
  width: 100%;

  .template__transactionType {
    display: flex;
    background-color: var(--gold-lighter);
    border: 1px solid var(--gold-light);
    border-radius: var(--medium-radius);
    flex-direction: column;
    gap: var(--spacing-small);
    padding: var(--spacing-small);
    outline: 0;

    .template__title {
      color: var(--gold-dark);
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-semibold);
    }

    .template__category {
      display: flex;
      background-color: var(--gold-lightest);
      border-radius: var(--subtle-radius);
      flex-direction: column;
      padding: var(--spacing-small);
      padding-bottom: var(--spacing-tiny);
      outline: 0;

      .template__categoryname {
        color: var(--gold-darker);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .template__subcategories {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-tiny);
        margin-top: var(--spacing-tiny);
        transition: all ease 300ms;

        .template__subcategory {
          align-items: center;
          border-bottom: 1px solid var(--gold-light);
          display: flex;
          gap: var(--spacing-small);
          justify-content: space-between;
          padding: var(--spacing-tiny) 0 var(--spacing-small);
          width: 100%;

          &:hover {
            border-bottom: 1px solid var(--gold-darker);
            transition: all ease 300ms;

            .template__label {
              color: var(--gold-darker);
              transition: all ease 300ms;
            }
          }

          .template__label {
            color: var(--gold-dark);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-semibold);
            overflow: hidden;
            padding-left: var(--spacing-tiny);
            text-overflow: ellipsis;
            transition: all ease 300ms;
            white-space: nowrap;
            width: 100%;
          }

          .template__checkbox {
            display: flex;
            height: 20px;
            justify-content: flex-end;
            margin-right: 20px;
          }
        }
      }
    }
  }

  .template__confirmButton {
    margin-top: var(--spacing-tiny);
    width: 100%;
  }
}
