.transactions {
  height: 100%;
  padding: var(--spacing-base);
  position: relative;
  width: 100%;

  .transactions__list {
    border-radius: var(--medium-radius);
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%;
  }
}
