.transactions {
  height: 100%;
  position: relative;
  width: 100%;

  .transactions__header {
    align-items: center;
    background-color: var(--gold-lightest);
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-base);
    position: relative;
    width: 100%;
    z-index: var(--zindex-header);

    .transactions__title {
      color: var(--gold-darker);
      font-size: var(--font-size-h3);
      font-weight: var(--font-weight-thin);
      line-height: var(--line-height-simple);
    }

    .transactions__count {
      color: var(--gold-dark);
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-simple);
    }
  }

  .transactions__empty {
    align-items: center;
    display: flex;
    border: 2px solid var(--gold);
    flex-direction: column;
    height: calc(100% - var(--font-size-h3) - 2 * var(--spacing-small) - 60px);
    justify-content: center;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%;

    .transactions__emptylabel {
      color: var(--gold-dark);
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-bold);
      line-height: var(--line-height-gold);
      margin-top: var(--spacing-base);
    }
  }

  .transactions__container {
    align-items: flex-end;
    border-radius: var(--medium-radius);
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--font-size-h3) - var(--spacing-small));
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: calc(100% - 2 * var(--spacing-base));

    .transactions__line {
      background-color: var(--gold);
      height: 2px;
      width: 100%;
      z-index: var(--zindex-header);
    }

    .transactions__list {
      display: flex;
      border: 2px solid var(--gold);
      flex-direction: column;
      height: calc(100% - var(--font-size-h3) - 2 * var(--spacing-small) - 60px);
      list-style-type: none;
      margin: 0;
      overflow-y: auto;
      padding: 0;
      width: 100%;
    }
  }
}
