.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--medium-radius);
  box-shadow: var(--medium-drop-shadow);
  margin-top: var(--spacing-small);
  width: 360px;

  background: white;

  // Animate
  visibility: hidden;
  opacity: 0;

  &.animateIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  // Button reset
  button {
    -webkit-appearance: none;
    text-rendering: auto;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    box-sizing: initial;
    margin: 0;
    padding: 0;
    border: none;
  }

  .icon {
    padding-left: 13px;
    img {
      display: block;
    }
  }

  .content {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 18px;
    color: var(--gray-dark);
    padding: var(--spacing-small) 4px var(--spacing-small) var(--spacing-small);
  }

  .close {
    padding: var(--spacing-small);
    margin: 4px;
    border-radius: 50%;
    align-self: flex-start;
    img {
      display: block;
      opacity: 0.75;
    }

    &:hover {
      background-color: rgba(black, 0.1);
      img {
        opacity: 1;
      }
    }
  }

  &.success {
    background-color: var(--color-success);
    .content {
      color: white;
    }
  }
  &.warning {
    background-color: var(--color-warning);
    .content {
      color: white;
    }
  }
  &.danger {
    background-color: var(--color-danger);
    .content {
      color: white;
    }
  }
  &.info {
    background-color: var(--color-info);
    .content {
      color: white;
    }
  }
  &.default {
    .icon {
      img {
        filter: invert(100%);
        opacity: 0.6;
      }
    }
    .close {
      img {
        filter: invert(100%);
        opacity: 0.25;
      }

      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
  }
}
