.newSubcategoryFromTemplate__addButton {
  align-items: center;
  display: flex;
  gap: var(--spacing-tiny);
  justify-content: center;
  padding: var(--spacing-tiny);
  width: 100%;

  .newSubcategoryFromTemplate__label {
    color: var(--gold-dark);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
  }
}

.newSubcategoryFromTemplate__addSubcategory {
  align-items: center;
  display: flex;
  gap: var(--spacing-tiny);
  padding-top: var(--spacing-tiny);
  width: 100%;

  .newSubcategoryFromTemplate__addSubcategoryInput {
    width: 100%;
  }

  .newSubcategoryFromTemplate__addSubcategoryButton {
    align-items: center;
    display: flex;
  }
}
