.observation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  transition: 600ms ease-out;

  .observation__label {
    color: var(--gold-darker);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: var(--spacing-small);
  }

  .observation__inputcontainer {
    display: flex;
    gap: var(--spacing-small);

    & > button {
      width: 36px;
    }
  }

  &.hidden {
    position: fixed;
    top: 200%;
    transition: 600ms ease-out;
  }

  &.selected {
    position: fixed;
    top: -200%;
    transition: 600ms ease-in;
  }
}
