.observation {
  align-items: center;
  display: flex;
  gap: var(--spacing-small);
  justify-content: center;
  width: 100%;

  .observation__label {
    color: var(--gold-darker);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-sm);
    white-space: nowrap;
  }

  .observation__container {
    align-items: center;
    display: flex;
    gap: var(--spacing-small);
    width: 100%;

    .observation__input {
      width: 100%;
    }
  }
}
