.observation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 600ms ease-out;
  width: calc(100% - 2 * var(--spacing-base));

  .observation__label {
    color: var(--gold-darker);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: var(--spacing-small);
  }

  .observation__inputcontainer {
    display: flex;
    gap: var(--spacing-small);

    & > button {
      width: 36px;
    }
  }

  &.hidden {
    position: fixed;
    top: 100%;
    transition: 600ms ease-out;
  }

  &.selected {
    position: fixed;
    top: -100%;
    transition: 600ms ease-in;
  }
}
