.modal__content {
  display: flex;
  flex-direction: column;

  .modal__body {
    padding: var(--spacing-small);

    .modal__label {
      color: var(--gold-darker);
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-normal);
    }

    .modal__input {
      width: 100%;
    }
  }

  .modal__footer {
    border-top: 1px solid var(--gold-dark);
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-small);
  }
}
