.list {
  background-color: var(--gold-lighter);
  border: 1px solid var(--gold-light);
  border-radius: var(--medium-radius);
  box-shadow: var(--medium-drop-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tiny);
  padding: var(--spacing-small);
  width: 100%;

  .list__header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    button {
      margin: 0;
      outline: 0;
      padding: 0;
    }
  }

  .list__title {
    color: var(--gold-dark);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-tiny);
  }

  .list__empty {
    color: var(--gold-dark);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    width: 100%;
  }

  .list__category {
    display: flex;
    background-color: var(--gold-lightest);
    border-radius: var(--subtle-radius);
    flex-direction: column;
    padding: var(--spacing-small);
    outline: 0;

    .list__categoryname {
      align-items: center;
      display: flex;
      gap: var(--spacing-tiny);

      .list__icon {
        transition: all ease 300ms;

        &.list__opened {
          transform: rotate(180deg);
          transition: all ease 300ms;
        }
      }

      .list__label {
        color: var(--gold-darker);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .list__buttons {
        display: flex;
        gap: var(--spacing-small);

        button {
          margin: 0;
          outline: 0;
          padding: 0;
        }
      }
    }

    .list__subcategories {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-tiny);
      margin-top: var(--spacing-small);

      .list__subcategory {
        align-items: center;
        border-bottom: 1px solid var(--gold-light);
        display: flex;
        gap: var(--spacing-tiny);
        padding: var(--spacing-tiny) 0;

        .list__label {
          color: var(--gold-dark);
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-semibold);
          overflow: hidden;
          padding-left: var(--spacing-tiny);
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .list__buttons {
          display: flex;
          gap: var(--spacing-small);

          button {
            margin: 0;
            outline: 0;
            padding: 0;
          }
        }
      }

      .list__empty {
        color: var(--gold-dark);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-semibold);
        text-align: center;
        width: 100%;
      }
    }
  }
}
